body {
	background: linear-gradient(#000, transparent 120%);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	color: black;
}

img {
	height: 5em;
}

.container {
	font-size: 1.8em;
}

#title,
#subtitle {
	color: white;
}

#title {
	margin-top: 1em;
}

#subtitle {
	margin-bottom: 1em;
}

#unitbuttons {
	margin-top: 0.5em;
}

.selected {
	border: white 1px solid;
}

.transparency {
	background: rgba(240, 240, 240, 0.9);
	height: 100%;
	border-radius: 15px;
}

.transparency-left {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.transparency-right {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#current {
	margin-bottom: 1em;
}

#weatherimage {
	margin-top: 1em;
}

#currenttemp {
	font-size: 3em;
	margin-top: 0.1em;
}

#forecasts {
	margin-left: 2.5em;
	margin-bottom: 2em;
}

#day2 {
	margin: 0 1.5em;
}

.lo {
	color: rgba(73, 83, 209, 1);
	margin-right: 0.5em;
}

.hi {
	color: rgba(228,0,0,1);
}

@media (max-width: 1200px) {
	#currenttemp {
		font-size: 2em;
	}

	.lo, .hi {
		font-size: 0.8em;
	}
}

@media (max-width: 992px) {
	.row {
		margin: 0 auto 1em;
	}

	#forecasts {
		margin: 0 auto 1em;
	}

	#day2 {
		margin: 0;
	}

	#day1, #day2 {
		margin-bottom: 1em;
	}
}