body {
	background: linear-gradient(#000, transparent 120%),
	url("https://dl.dropboxusercontent.com/u/755079/images/weather/default.jpg") no-repeat;
	background-size: cover;
	margin: 0;
	background-attachment: fixed;
	text-align: center;
}

div {
	color: white;
}

img {
	height: 5em;
}

.container {
	font-size: 1.8em;
}

#title,
#subtitle {
	color: white;
}

#title {
	margin-top: 3em;
}

#subtitle {
	margin-bottom: 1em;
}

.selected {
	border: white 1px solid;
}

.transparency {
	background: rgba(240, 240, 240, 0.7);
	height: 100%;
	border-radius: 15px;
}

.transparency-left {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.transparency-right {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}